/*
background-color: #fff; (white)
color: #111/#000 (black/white)
primary color: #e2725b; (terracotta)
accent color: #ffdab9; (peach puff)
*/

/* optimize for mobile screens/small less than 600px -- hide nav and use hamburger menu */
@media screen and (max-width: 639px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  .navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: 0.2s;
    display: block;
    list-style-type: none;
    text-align: center;
  }

  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: block;
  }

  .menu-btn {
    position: absolute;
    left: 40px;
    top: 5px;
    text-decoration: none;
  }

  .navbar .close-btn {
    position: absolute;
    top: 8px;
    right: 40px;
    font-size: 64px;
    text-decoration: none;
    color: #ffdab9;
    background-color: transparent;
  }

  /* style list of nav items */
  ul {
    padding: 0;
  }

  ul li {
    list-style-type: none;
  }

  /* style nav links */
  li a,
  .dropbtn {
    display: block;
    color: #ffdab9;
    text-align: center;
    padding: 25px;
    margin: 25px;
    text-decoration: none;
    font-size: 24px;
  }

  /* style nav links of dropdown */
  .dropdown-content a {
    color: #e2725b;
    padding: 12px 12px;
    margin: 0;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  /* style nav link dropdown background and position */
  .dropdown-content {
    display: none;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

/* START CSS NOT INCLUDING MED/LG SCREENS */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: #111;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('ceramic.jpg') #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  overflow-x: hidden; /* hide horizontal scrollbar */
  overflow-y: scroll; /* add vertical scrollbar */
  position: absolute;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'DM Serif Display', serif;
}

h1 {
  margin: 0;
  color: #fff;
}

.title {
  color: black;
  background-color: transparent;
  text-align: center;
}

.title-2 {
  margin: 0;
}

header {
  margin: 0;
  padding: 12px 12px 12px 80px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffdab9;
}

/* removes automatic underline from h1 and other text */
a {
  text-decoration: none;
}

/* bold nav link when hover */
a:hover {
  color: #e2725b;
  background-color: transparent;
  font-weight: bold;
}

/* style active class to highlight current page */
.navbar a.active {
  color: #e2725b;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

.button,
.button-box {
  background-color: #e2725b;
  color: #fff;
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  margin: 2px 0 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.button:hover {
  color: #111;
  background-color: #ffdab9;
}

.button-box:hover {
  color: #e2725b;
  background-color: #fff;
}

p {
  line-height: 1.5em;
  font-size: 14px;
}

.about {
  margin: 0;
  line-height: 1.5em;
}

.section {
  background-color: #fff;
  color: #111;
  padding: 25px 25px;
  overflow: hidden;
}

.img-left {
  float: left;
  height: auto;
  width: 50%;
  margin-right: 10px;
  padding-right: 15px;
  clear: left;
  display: block;
}

.img-right {
  float: right;
  height: auto;
  width: 50%;
  margin-left: 10px;
  padding-left: 15px;
  clear: right;
  display: block;
}

.row {
  display: block;
  background-color: #fff;
  padding: 12px 12px 50px;
  margin: auto;
}

/* typewriter animation quote on home */
.quote-section {
  padding: 100px;
  text-align: center;
}

.quote {
  font-size: 4vw;
  font-family: 'DM Serif Display', serif;
  text-align: center;
  color: #fff;
  background-color: transparent;
  overflow: hidden; /* content not revealed until the animation */
  white-space: nowrap; /* keeps content on a single line */
  margin: 0 auto;
  width: auto;
  display: inline-block;
  border-right: 0.15em solid white; /* typwriter cursor */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  justify-content: center;
}

/* typing effect */
@keyframes typing {
  from { max-width: 0; }
  to { max-width: 100%; }
}

/* typewriter cursor effect */
@keyframes blink-caret {
  from,
  to { border-color: transparent; }
  50% { border-color: white; }
}

.box-1,
.box-2,
.box-3 {
  background-color: #ffdab9;
  color: #111;
  margin: 12px;
  padding: 12px;
}

/* hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  float: left;
  height: 50%;
  width: 50%;
  margin-right: 10px;
  padding-right: 15px;
  clear: left;
  display: block;
}

/* slideshow fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

input {
  padding: 5px;
}

#mssg {
  height: 100px;
  width: 100%;
  margin: 25px 25px 25px 0;
  padding: 5px;
}

.footer-info {
  padding-bottom: 12px;
}

.email {
  color: #fff;
}

.email:hover {
  color: #ffdab9;
  text-decoration: underline;
}

footer {
  background-color: #e2725b;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 48px 12px;
  margin: 0;
}

/* fix background size for screen sizes 560-640(MED) */
@media only screen and (min-width: 560px) {
  body {
    background-size: cover;
  }
}

/* MEDIUM SCREEN SIZE - grid adjustment for prices */
@media only screen and (min-width: 800px) {
  .row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #fff;
    font-size: 12px;
    padding: 25px 25px 50px;
  }

  .box-1,
  .box-2,
  .box-3 {
    background-color: #ffdab9;
    color: #111;
    margin: 25px;
    padding: 25px;
  }
}

/* MEDIUM SCREEN SIZE */
@media only screen and (min-width: 640px) {
  header {
    margin: 0;
    padding: 25px 25px 0 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffdab9;
  }

  body {
    background-size: cover;
  }

  a {
    color: #ffdab9;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }

  li {
    float: left;
  }

  li a,
  .dropbtn {
    display: inline-block;
    color: #ffdab9;
    text-align: center;
    padding: 25px 0 0 0;
    margin: 0 50px 25px 0;
    text-decoration: none;
    font-size: 16px;
  }

  .navbar li {
    display: inline-block;
  }

  /* hide hamburger icon */
  .menu-btn,
  .close-btn {
    display: none;
  }

  /* style active class to highlight current page */
  .navbar a.active {
    color: #e2725b;
    background-color: transparent;
    text-decoration: none;
  }

  .navbar li .icon {
    display: block;
    position: absolute;
    font-size: 20px;
    padding-right: 0;
    left: 50px;
    top: 0;
    text-decoration: none;
  }

  /* get rid of underline on icon */
  li .icon:hover::before {
    transform: scaleX(0);
  }

  .navbar.responsive nav {
    padding: 0;
  }

  /* override previous code and show complete menu */
  .navbar.responsive li {
    display: block;
    padding: 0;
  }

  /* animate nav underline */
  li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e2725b;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  li a:hover::before {
    transform: scaleX(1);
  }

  a:hover {
    color: #e2725b;
    background-color: transparent;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }

  .dropdown-content a {
    color: #e2725b;
    padding: 12px 12px;
    margin: 0;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  li a:hover,
  .dropdown:hover,
  .dropbtn {
    background-color: transparent;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a:hover {
    background-color: #fff;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  p {
    line-height: 1.5em;
    font-size: 16px;
  }

  .section {
    background-color: #fff;
    color: #111;
    padding: 25px 100px;
    overflow: hidden;
  }

  .quote-section {
    padding: 150px;
  }

  .quote {
    font-size: 4vw;
    text-align: center;
    color: #fff;
    background-color: transparent;
    margin: 0 auto;
    width: auto;
  }
}

/* LARGE SCREEN SIZE */
@media only screen and (min-width: 1024px) {
  header {
    margin: 0;
    padding: 25px 25px 0 150px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffdab9;
  }

  body {
    background-size: cover;
  }

  a {
    color: #ffdab9;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }

  li {
    float: left;
  }

  li a,
  .dropbtn {
    display: inline-block;
    color: #ffdab9;
    text-align: center;
    padding: 25px 0 0 0;
    margin: 0 50px 25px 0;
    text-decoration: none;
    font-size: 18px;
  }

  .navbar li {
    display: inline-block;
  }

  /* hide hamburger icon */
  .menu-btn,
  .close-btn {
    display: none;
  }

  /* style active class to highlight current page */
  .navbar a.active {
    color: #e2725b;
    background-color: transparent;
    text-decoration: none;
  }

  .navbar li .icon {
    display: block;
    position: absolute;
    font-size: 20px;
    padding-right: 0;
    left: 50px;
    top: 0;
    text-decoration: none;
  }

  /* get rid of underline on icon */
  li .icon:hover::before {
    transform: scaleX(0);
  }

  .navbar.responsive nav {
    padding: 0;
  }

  /* override previous code and show complete menu */
  .navbar.responsive li {
    display: block;
    padding: 0;
  }

  /* animate nav underline */
  li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e2725b;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  li a:hover::before {
    transform: scaleX(1);
  }

  a:hover {
    color: #e2725b;
    background-color: transparent;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }

  .dropdown-content a {
    color: #e2725b;
    padding: 12px 12px;
    margin: 0;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  li a:hover,
  .dropdown:hover,
  .dropbtn {
    background-color: transparent;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a:hover {
    background-color: #fff;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .quote-section {
    padding: 200px;
  }

  .quote {
    font-size: 4vw;
    text-align: center;
    color: #fff;
    background-color: transparent;
    margin: 0 auto;
    width: auto;
  }

  p {
    line-height: 1.5em;
    font-size: 18px;
  }

  .section {
    background-color: #fff;
    color: #111;
    padding: 50px 200px;
    overflow: hidden;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #fff;
    font-size: 16px;
    padding: 25px 25px 50px;
  }
}
